body {
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #9377DC;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    color: #E6DFF6;
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #B4A0E7;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

h1 {
    color: #5125C2;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 40px;
}

.toggle-el {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 100;
}

.generate-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.8rem 1.3rem;
    background-color: 	#98E0C1;
    color: #5125C2;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    border-color: #98E0C1;
    cursor: pointer;
}

.container {
    margin-top: 10px;
}

.password-el {
    margin: 5px;
    padding: 10px;
    color: #5125C2;
    border-radius: 10px;
}

.password-el:hover {
    padding: 15px;
    cursor: pointer;
}

/* Toggle button */
.toggle {
    margin-top: 5px;
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 22px;
    background-color: #E6DFF6;
    border-radius: 30px;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5125C2;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 17px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: #98E0C1;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}

#symbols {
    color: #5125C2;
    font-size: 20px;
    font-weight: 200;
}
